@charset "UTF-8";
#Airbus-info {
    background-image: linear-gradient(to right, rgb(0, 0, 130), rgb(0, 0, 136), rgb(0, 77, 164), rgb(0, 57, 163), rgb(4, 4, 152), rgb(0, 69, 129));
    color:white; 
    font-family: sans-serif;
    text-align:center;
}
#title {
    text-align: center;
    font-size: 85px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 47, 177, 0.419);
    width: 75%;
    border-radius: 20px;
    margin:auto;
    animation: animText 2s ease-in-out;
}
@keyframes animText {
    0% {
        transform: translateX(500px); 
        opacity: 0%;
    }
    1% {
        transform: translateX(100px);
        opacity: 2%;
    }

}
#subtitle {
    font-size:45px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    width: 50%;
    margin:auto;
    margin-top:75px; 
    animation: leftToRight 3s ease-in-out;

}
@keyframes leftToRight {
    0% {
        transform: translateX(-250px);
        opacity:0%;
    }
}
#A320neo-info {
background-color: rgba(0, 0, 92, 0.703);
text-align: center;
width: 80%;
margin: auto; 
border: solid 5px rgba(255, 255, 255, 0.76); 
margin-top:40px;
border-radius:10px;
box-shadow: 5px 5px 5px black;
animation: leftToRight  2s ease-in-out;
}
@keyframes leftToRight {
from {
    opacity: 0%;
    transform: translateX(500px); 
}
transition: rightToLeft 2s;  
 }
#a321neo-picture {
width: 70%;
height: 50%; 
margin: auto;
margin-bottom:25px;
border:2px solid white;
border-radius: 20px; 
}
#summary {
    font-size: 35px; 
    margin-top:10px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255) );
    color: rgb(0, 115, 255);
    border-radius:20px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
strong {
    color: rgb(0, 151, 227);
    font-size:25px; 
    text-align:left; 
    margin-left:25px;
}
details {
background-color:rgba(30, 21, 63, 0.244);
padding: 10px;
margin: auto;
font-size:25px;
}
.info {
    color:rgb(228, 228, 228);
    font-size:85px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px; 
}
.pg-info {
    font-size: 25px;
    font-family: serif; 
    text-align:left;
    padding: 25px;  
    color:white;
} 
#Boeing-737MAX {
 background-color: rgba(0, 0, 92, 0.703);
text-align: center;
width: 80%;
margin: auto; 
border: solid 5px rgba(255, 255, 255, 0.76); 
margin-top:40px;
border-radius:10px;
box-shadow: 5px 5px 5px black;
animation: rightToLeft 1.5s ease-in-out;
}
@keyframes rightToLeft {
    0% {
        transform: translateX(-500px);
        opacity:0%;
    }
    100% {
        transform:translate3d(5px 5px 5px);
        opacity:100%;
    } 
}
#Boeing-title {
    text-align:center;
    color:white;
}
#boeing-737-max-img  {
    width: 70%;
height: 50%; 
margin: auto;
margin-bottom:25px;
border:2px solid white;
border-radius: 10px; 
} 
#details-737 {
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
   margin: auto;
   font-size:35px; 
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color:rgb(0, 87, 194);
}
#ca-737max {
    font-size: 25px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:10px; 
    color:rgb(255, 255, 255); 
    background-color: rgb(0, 0, 105); 
    border-radius: 10px;   
    margin: auto;  
    padding: 25px; 
    margin-left: 25px; 
    margin-right:25px; 
}
mark {
    color:rgb(246, 248, 255);
    background-color: rgb(1, 0, 69);
} 
footer {
    padding: 30px;
    font-size:25px;
}
div {
    background-color: rgba(0, 0, 92, 0.703);
    padding: 10px;
    text-align:center;
    border-radius:1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    margin: auto; 
    animation: fadeIn 3s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity:0%;
    }
    to {
        opacity: 100%;
    }
}
.social-media {
    font-size:25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    background-color: rgba(0, 37, 72, 0.308);
} 
h4 {
    text-align: center;
    font-size:30px;
    margin:auto; 
}